.body-theme {
    background-color: whitesmoke;
    height: 100vh;
    position: relative;
}

.banner {
    background: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    position: absolute;

}

.search {
    position: absolute;
    top: 125px;
    width: 80%;
    text-align: center;
    background-color: #ffffff;
}

.bg-2 {
    background-color: #474e5d;
    color: #ffffff;
    position: absolute;
    height: 200px;

}


.form-search {
    padding: 10px;
}

.btn-buscar {
    background-color: #474e5d;
    color: #ffffff;
    border: none;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}

.btn-buscar:hover {
    background-color: green;
    color: white;
    border: 1px solid #474e5d;
    transition: 0.5s;
}

.btn-buscar:focus {
    outline: none;
}

.btn-buscar:active {
    background-color: #ffffff;
    color: #474e5d;
    border: 1px solid #474e5d;
    transition: 0.5s;
}

@media only screen and (max-device-width: 480px) {
    .result {
        width: 100%;
        position: absolute;
        top: 550px;
    }
}

@media only screen and (max-device-width: 961px) {
    .result {
        width: 100%;
        position: absolute;
        top: 550px; 
    }
}

@media only screen and (min-device-width: 1281px) {
    .result {
        width: 100%;
        position: absolute;
        top: 300px;
    }
}


hr.rounded {
    border-top: 8px solid #474e5d;
    border-radius: 5px;
    width: 100px;
    margin: auto;
}

.text-result {
    text-align: center;
    font-weight: 500;
    color: #474e5d;
    width: 100%;
} 

.text-result-city {
    text-align: center;
    font-weight: 300;
    color: #474e5d;
    font-size: 20px;
    background-color: whitesmoke;
    margin: 0%;
}

.text-result-comparison {
    text-align: center;
    font-weight: 300;
    color: #474e5d;
    font-size: 20px;
    background-color: whitesmoke;
}

.select-city {
    text-align: center;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #474e5d;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}

.text-result-city-comparison {
    text-align: center;
    font-weight: 300;
    color: #474e5d;
    font-size: 20px;
}

.footer-page {
    background-color: #474e5d;
    color: white;
    height: 2.5rem;
    width: 100%;
    margin: 0%;
    position: fixed;
    bottom: 0;
}

.comparison {
    background-color: whitesmoke;
    width: 100%;
    margin: 0%;
}

span.textbox {
    background-color: #FFF;
    color: #888;
    line-height:20px;
    height:20px;
    padding:3px;
    border:1px #888 solid;
    font-size:9pt;
}

span.textbox input {
  border: 0px;
    background-color: #FFF;
}